CLIENT_ID = "id клиента который зарегестрирован у разработчиков gderabota.ru"
CLIENT_SECRET = "секрет от разработчиков gderabota.ru"
REDIRECT_URI = "редирект"
AUTHORIZE_URL = "урл для авторизации"
TOKEN_URL = "урл для создания токена"
HEADERS = "запросы в шапке"
